*.tflite
*.onnx
*.pt
*.mapping
*.bin
*.xml
*.pb
*.pth
*.yaml
*.DS_Store
*._.DS_Store
*.json
*.jpg
*.png
*.JPEG
results_raspberry_os/
results_ubuntu_server/
scripts/tests/
ILSVRC_test_images/
ILSVRC_val/
ILSVRC_val_5000/
ILSVRC_val_10000/
randomized_iamges/
randomized_images/
